{% extends "userlayout.html" %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Logistic Regression Form</h4>
      <p class="card-description"> Logistic Regression Element </p>
      <form class="forms-sample" method="post" action="{{url_for('lrresult')}}" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputnumber2">%Test :</label>
          <input class="form-control" type="text" id="exampleInputnumber2" min="0"
          placeholder="Enter Test Size Value" name="s" required>
        </div>
        <div class="form-group">
          <!-- <label>please upload a csv file</label>-->
          <input type="file" name="img[]" class="file-upload-default">
          <div class="input-group col-xs-12">                          
            <span class="input-group-append">
              <input type="file" id="myFile" name="upfile" required>                             
            </span>                    
          </div>
              <br><br><br><br>
              <button class="file-upload-browse btn btn-primary" type="submit">Submit</button>
              <button class="btn btn-primary" type="reset">Cancel</button>
      </form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}